/* * {
  margin: 0;
  padding: 0;
   box-sizing: inherit;
} */

.container {
  margin: auto;
  width: 50%;
  border: 3px solid red;
  padding: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 10px;
}

.result-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
